<p>
    tablero works!
    <a routerLink="/tablero1">Tablero1</a>
  </p>
<div class="row">
  <div class="col-sm-6">
    <div class="card">

      <div class="card-body">
          <h5 class="card-title" style="font-size: 20px"> {{ graficos.grafico1.leyenda }}</h5>
          <app-grafico-dona
          [doughnutChartLabels] = "graficos.grafico1.labels"
          [doughnutChartData] = "graficos.grafico1.data"
          doughnutChartType = "doughnut"
          ></app-grafico-dona>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
          <h5 class="card-title" style="font-size: 20px"> {{ graficos.grafico2.leyenda }}</h5>
          <app-grafico-dona
          [doughnutChartLabels] = "graficos.grafico2.labels"
          [doughnutChartData] = "graficos.grafico2.data"
          doughnutChartType = "doughnut"
          ></app-grafico-dona>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
          <h5 class="card-title" style="font-size: 20px"> {{ graficos.grafico3.leyenda }}</h5>
          <app-grafico-dona
          [doughnutChartLabels] = "graficos.grafico3.labels"
          [doughnutChartData] = "graficos.grafico3.data"
          doughnutChartType = "doughnut"
          ></app-grafico-dona>
                </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
          <h5 class="card-title" style="font-size: 20px"> {{ graficos.grafico4.leyenda }}</h5>
          <app-grafico-dona
          [doughnutChartLabels] = "graficos.grafico4.labels"
          [doughnutChartData] = "graficos.grafico4.data"
          doughnutChartType = "doughnut"
          ></app-grafico-dona>
      </div>
    </div>
  </div>
</div>
